### Tarea Regresión

In [1]:
import pandas as pd
import numpy as np

### Dataset

In [2]:
data = "https://raw.githubusercontent.com/bigdatadatafan/datasets-clase/main/car_fuel_efficiency.csv"
df = pd.read_csv(data)
df = df[["engine_displacement","horsepower","vehicle_weight", "model_year", "fuel_efficiency_mpg"]]
df

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
0,170,159.0,3413.433759,2003,13.231729
1,130,97.0,3149.664934,2007,13.688217
2,170,78.0,3079.038997,2018,14.246341
3,220,NaN,2542.392402,2009,16.912736
4,210,140.0,3460.870990,2009,12.488369
...,...,...,...,...,...
9699,140,164.0,2981.107371,2013,15.101802
9700,180,154.0,2439.525729,2004,17.962326
9701,220,138.0,2583.471318,2008,17.186587
9702,230,177.0,2905.527390,2011,15.331551
9703,270,140.0,2908.043477,2005,14.884467

### Missing Values

In [3]:
df.isnull().sum()

engine_displacement      0
horsepower             708
vehicle_weight           0
model_year               0
fuel_efficiency_mpg      0
dtype: int64

### Horsepower Median

In [4]:
df["horsepower"].median()

np.float64(149.0)

### FillNa

In [5]:
df["horsepower"] = df.horsepower.fillna(df["horsepower"].mean())

# Modelo

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error

X = df
y = df.horsepower

X_train, X_temp, y_train, y_temp = train_test_split(X,y, test_size=0.4, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_train,y_train, test_size=0.5, random_state=42)

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_val)

root_mean_squared_error(y_val,y_pred)

4.0231027066027614e-14

In [15]:
# TESTING
y_pred = model.predict(X_test)

root_mean_squared_error(y_test,y_pred)

4.043871184908434e-14